<form #form='ngForm' >
  <div class="form-group px-2">
    <label>Ports:</label>
    <select *ngIf="connecting===false" (click)="loadPorts()"name="port" [(ngModel)]="port" >
      <option *ngFor="let p of ports">
        {{p}}
      </option>
    </select>
    <button *ngIf="connecting===false" (click)="connectPort()" type="submit">Connect</button>
    <button *ngIf="connecting===true" (click)="disconnectPort()" type="submit">Disconnect</button>
  </div>
</form>
<div class="col-1">
    PV:
  </div>
  <div class="text-center mt-3">
    <div class="row">
      <div *ngFor="let PV of PVs; index as i" class="col-1">
        <div class="card mb-2">
          <div class="rows">CH{{i+1}}</div>
        </div>
        <div class="card mb-2">
          <div class="rows">{{PV}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1">
    SV:
  </div>
  <div class="text-center mt-3">
    <div class="row">
      <div *ngFor="let SV of SVs; index as i" class="col-1">
        <div class="card mb-2">
          <div class="rows">CH{{i+1}}</div>
        </div>
        <div class="card mb-2">
          <div class="rows">{{SV}}</div>
        </div>
        <div class="card mb-2" *ngIf="connecting">
          <input type="text" class="text-center" [(ngModel)]="setSVs[i]" (keyup.enter)="setSV(i+1,setSVs[i])">
        </div>
        <!-- <div class="card mb-2" *ngIf="connecting">
          <button (click)="setSV(i+1,setSVs[i])">Set</button>
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-1">
    out:
  </div>
  <div class="text-center mt-3">
    <div class="row">
      <div *ngFor="let out of outs; index as i" class="col-1">
        <div class="card mb-2">
          <div class="rows">CH{{i+1}}</div>
        </div>
        <div class="card mb-2">
          <div class="rows">{{out}}</div>
        </div>
      </div>
    </div>
  </div>